In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import joblib

In [2]:
#Import data file.

df = pd.read_csv(r"C:\Users\hp\My Project\Project Cat Breeds v2 (Classification) (10 class)\cat_breeds_clean.csv")

df

,Breeds,Origin,Weight,length,Fur_length,Fur_type,Fur_color,Eye_color,Age,Sleep_hours
0,Siamese,Thailand,5.4,39,short,soft,white,blue,13,15
1,Siamese,Thailand,3.8,31,short,soft,creamy,blue,14,12
2,Siamese,Thailand,4.9,37,short,soft,white,blue,14,16
3,Siamese,Thailand,5.4,31,short,soft,creamy,blue,12,15
4,Siamese,Thailand,3.0,37,short,soft,white,blue,12,12
...,...,...,...,...,...,...,...,...,...,...
1409,British Shorthair,UK,7.2,38,short,heavy,brown,blue,15,16
1410,British Shorthair,UK,5.7,30,short,heavy,black,golden,13,16
1411,British Shorthair,UK,6.3,37,short,heavy,orange,copper,19,15
1412,British Shorthair,UK,4.7,34,short,heavy,white,blue,16,16
1413,British Shorthair,UK,4.9,30,short,heavy,silver,golden,15,14

In [3]:
#Rearrange the rows randomly.

df = df.sample(frac=1).reset_index(drop=True)

df

,Breeds,Origin,Weight,length,Fur_length,Fur_type,Fur_color,Eye_color,Age,Sleep_hours
0,Egyption Mau,Egypt,4.6,40,short,silky,bronze,green,15,15
1,Norwegian Forest Cat,Norway,6.2,45,long,heavy,silver,golden,14,16
2,Japanese Bobtail,Japan,2.9,34,short/medium,silky,calcalico,two different eyes,15,13
3,Siamese,Thailand,5.4,31,short,soft,creamy,blue,12,15
4,Maine Coon,USA,6.7,51,long,heavy,brown,copper,12,14
...,...,...,...,...,...,...,...,...,...,...
1409,Manx,UK,3.5,30,short/medium,soft,red,blue,15,15
1410,Maine Coon,USA,9.5,87,long,heavy,orange,green,13,14
1411,Egyption Mau,Egypt,3.2,40,short,silky,smokey,pink,12,15
1412,Norwegian Forest Cat,Norway,4.7,44,long,heavy,blue,green,16,16
1413,Manx,UK,3.7,32,short/medium,soft,creamy,blue,14,14

In [4]:
#Delete the Origin column, it is not needed.

df.drop('Origin', axis=1, inplace=True)

df

,Breeds,Weight,length,Fur_length,Fur_type,Fur_color,Eye_color,Age,Sleep_hours
0,Egyption Mau,4.6,40,short,silky,bronze,green,15,15
1,Norwegian Forest Cat,6.2,45,long,heavy,silver,golden,14,16
2,Japanese Bobtail,2.9,34,short/medium,silky,calcalico,two different eyes,15,13
3,Siamese,5.4,31,short,soft,creamy,blue,12,15
4,Maine Coon,6.7,51,long,heavy,brown,copper,12,14
...,...,...,...,...,...,...,...,...,...
1409,Manx,3.5,30,short/medium,soft,red,blue,15,15
1410,Maine Coon,9.5,87,long,heavy,orange,green,13,14
1411,Egyption Mau,3.2,40,short,silky,smokey,pink,12,15
1412,Norwegian Forest Cat,4.7,44,long,heavy,blue,green,16,16
1413,Manx,3.7,32,short/medium,soft,creamy,blue,14,14

In [5]:
#Check if there are duplicate files or not.

print(df.duplicated().sum())

2

In [6]:
#Delete rows that contain duplicate data.

df.drop_duplicates(keep='first', inplace=True)

df

,Breeds,Weight,length,Fur_length,Fur_type,Fur_color,Eye_color,Age,Sleep_hours
0,Egyption Mau,4.6,40,short,silky,bronze,green,15,15
1,Norwegian Forest Cat,6.2,45,long,heavy,silver,golden,14,16
2,Japanese Bobtail,2.9,34,short/medium,silky,calcalico,two different eyes,15,13
3,Siamese,5.4,31,short,soft,creamy,blue,12,15
4,Maine Coon,6.7,51,long,heavy,brown,copper,12,14
...,...,...,...,...,...,...,...,...,...
1409,Manx,3.5,30,short/medium,soft,red,blue,15,15
1410,Maine Coon,9.5,87,long,heavy,orange,green,13,14
1411,Egyption Mau,3.2,40,short,silky,smokey,pink,12,15
1412,Norwegian Forest Cat,4.7,44,long,heavy,blue,green,16,16
1413,Manx,3.7,32,short/medium,soft,creamy,blue,14,14

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1412 entries, 0 to 1413
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Breeds       1412 non-null   object
 1   Weight       1412 non-null   float64
 2   length       1412 non-null   int64
 3   Fur_length   1412 non-null   object
 4   Fur_type     1412 non-null   object
 5   Fur_color    1412 non-null   object
 6   Eye_color    1412 non-null   object
 7   Age          1412 non-null   int64
 8   Sleep_hours  1412 non-null   int64
dtypes: float64(1), int64(3), object(5)
memory usage: 110.3+ KB

In [8]:
category_mapping = dict(enumerate(df['Breeds'].astype('category').cat.categories))

print(category_mapping)

{0: 'Abyssinian', 1: 'British Shorthair', 2: 'Egyption Mau', 3: 'Japanese Bobtail', 4: 'Maine Coon', 5: 'Manx', 6: 'Norwegian Forest Cat', 7: 'Persian', 8: 'Siamese', 9: 'Turkish Angora'}

In [9]:
# Convert label data to numeric values (int)

df['Breeds'] = df['Breeds'].astype('category').cat.codes.astype('int64')

df

,Breeds,Weight,length,Fur_length,Fur_type,Fur_color,Eye_color,Age,Sleep_hours
0,2,4.6,40,short,silky,bronze,green,15,15
1,6,6.2,45,long,heavy,silver,golden,14,16
2,3,2.9,34,short/medium,silky,calcalico,two different eyes,15,13
3,8,5.4,31,short,soft,creamy,blue,12,15
4,4,6.7,51,long,heavy,brown,copper,12,14
...,...,...,...,...,...,...,...,...,...
1409,5,3.5,30,short/medium,soft,red,blue,15,15
1410,4,9.5,87,long,heavy,orange,green,13,14
1411,2,3.2,40,short,silky,smokey,pink,12,15
1412,6,4.7,44,long,heavy,blue,green,16,16
1413,5,3.7,32,short/medium,soft,creamy,blue,14,14

In [10]:
# Convert string values to numeric values (One-Hot Encoding)

df = pd.get_dummies(df)

original_columns = df.columns.tolist()

joblib.dump(original_columns, 'dummies_columns.pkl')

bool_columns = df.select_dtypes(include='bool').columns

df[bool_columns] = df[bool_columns].astype('int64')

df

,Breeds,Weight,length,Age,Sleep_hours,Fur_length_long,Fur_length_medium/long,Fur_length_short,Fur_length_short/medium,Fur_type_Thick/soft,...,Fur_color_smokey,Fur_color_white,Eye_color_Hazelnut,Eye_color_amber,Eye_color_blue,Eye_color_copper,Eye_color_golden,Eye_color_green,Eye_color_pink,Eye_color_two different eyes
0,2,4.6,40,15,15,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,6,6.2,45,14,16,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,3,2.9,34,15,13,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,8,5.4,31,12,15,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,4,6.7,51,12,14,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409,5,3.5,30,15,15,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1410,4,9.5,87,13,14,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1411,2,3.2,40,12,15,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
1412,6,4.7,44,16,16,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1413,5,3.7,32,14,14,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1412 entries, 0 to 1413
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Breeds                        1412 non-null   int64
 1   Weight                        1412 non-null   float64
 2   length                        1412 non-null   int64
 3   Age                           1412 non-null   int64
 4   Sleep_hours                   1412 non-null   int64
 5   Fur_length_long               1412 non-null   int64
 6   Fur_length_medium/long        1412 non-null   int64
 7   Fur_length_short              1412 non-null   int64
 8   Fur_length_short/medium       1412 non-null   int64
 9   Fur_type_Thick/soft           1412 non-null   int64
 10  Fur_type_heavy                1412 non-null   int64
 11  Fur_type_silky                1412 non-null   int64
 12  Fur_type_soft                 1412 non-null   int64
 13  Fur_color_Bluish grey         1412 non-null   int64
 14  Fur_color_black               1412 non-null   int64
 15  Fur_color_blue                1412 non-null   int64
 16  Fur_color_bronze              1412 non-null   int64
 17  Fur_color_brown               1412 non-null   int64
 18  Fur_color_calcalico           1412 non-null   int64
 19  Fur_color_creamy              1412 non-null   int64
 20  Fur_color_gray                1412 non-null   int64
 21  Fur_color_orange              1412 non-null   int64
 22  Fur_color_red                 1412 non-null   int64
 23  Fur_color_ruddy               1412 non-null   int64
 24  Fur_color_silver              1412 non-null   int64
 25  Fur_color_smokey              1412 non-null   int64
 26  Fur_color_white               1412 non-null   int64
 27  Eye_color_Hazelnut            1412 non-null   int64
 28  Eye_color_amber               1412 non-null   int64
 29  Eye_color_blue                1412 non-null   int64
 30  Eye_color_copper              1412 non-null   int64
 31  Eye_color_golden              1412 non-null   int64
 32  Eye_color_green               1412 non-null   int64
 33  Eye_color_pink                1412 non-null   int64
 34  Eye_color_two different eyes  1412 non-null   int64
dtypes: float64(1), int64(34)
memory usage: 397.1 KB

In [12]:
# Convert values to the range [0, 1] (Normalization)

columns_to_normalize = ['Weight', 'length', 'Age', 'Weight', 'Sleep_hours']

scaler = MinMaxScaler()

df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

joblib.dump(scaler, 'scaler.pkl')

df

,Breeds,Weight,length,Age,Sleep_hours,Fur_length_long,Fur_length_medium/long,Fur_length_short,Fur_length_short/medium,Fur_type_Thick/soft,...,Fur_color_smokey,Fur_color_white,Eye_color_Hazelnut,Eye_color_amber,Eye_color_blue,Eye_color_copper,Eye_color_golden,Eye_color_green,Eye_color_pink,Eye_color_two different eyes
0,2,0.250000,0.200000,0.545455,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,6,0.440476,0.266667,0.454545,0.666667,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,3,0.047619,0.120000,0.545455,0.166667,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,8,0.345238,0.080000,0.272727,0.500000,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,4,0.500000,0.346667,0.272727,0.333333,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409,5,0.119048,0.066667,0.545455,0.500000,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1410,4,0.833333,0.826667,0.363636,0.333333,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1411,2,0.083333,0.200000,0.272727,0.500000,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
1412,6,0.261905,0.253333,0.636364,0.666667,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1413,5,0.142857,0.093333,0.454545,0.333333,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [13]:
# Ensure that there are no object values and that all values are numeric.

print(df.dtypes)

Breeds                            int64
Weight                          float64
length                          float64
Age                             float64
Sleep_hours                     float64
Fur_length_long                   int64
Fur_length_medium/long            int64
Fur_length_short                  int64
Fur_length_short/medium           int64
Fur_type_Thick/soft               int64
Fur_type_heavy                    int64
Fur_type_silky                    int64
Fur_type_soft                     int64
Fur_color_Bluish grey             int64
Fur_color_black                   int64
Fur_color_blue                    int64
Fur_color_bronze                  int64
Fur_color_brown                   int64
Fur_color_calcalico               int64
Fur_color_creamy                  int64
Fur_color_gray                    int64
Fur_color_orange                  int64
Fur_color_red                     int64
Fur_color_ruddy                   int64
Fur_color_silver                  int64
Fur_color_smokey                  int64
Fur_color_white                   int64
Eye_color_Hazelnut                int64
Eye_color_amber                   int64
Eye_color_blue                    int64
Eye_color_copper                  int64
Eye_color_golden                  int64
Eye_color_green                   int64
Eye_color_pink                    int64
Eye_color_two different eyes      int64
dtype: object

In [14]:
#Download the data to start training the model on it.

df.to_csv('cat_breeds_dataset.csv', index=False)